# Created by https://www.toptal.com/developers/gitignore/api/swift,xcode
# Edit at https://www.toptal.com/developers/gitignore?templates=swift,xcode

### Swift ###
# Standard Swift project files
.build/
Packages/
*.xcodeproj
xcuserdata/

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# .build/checkouts
#
# Add this line if you want to avoid checking in resolved dependency versions.
# Package.resolved

### Xcode ###
# Xcode
#
# gitignore contributors: remember to keep this file compatible with Xcode.
#
# Swift-specific
.swiftpm/

## User-specific
*.xcuserdatad
*.xcschememanagement
*.xpcproxy
private/
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

## Other
*.app
*.app.dSYM.zip
*.dSYM
*.xcscheme
xcuserdata
profile.dSYM
*.mobileprovision

# Secrets
# Este arquivo contém a chave da API e NUNCA deve ser enviado para o GitHub.
ArenaFC/Core/Networking/APIConstants.swift
